.wrapping{
  margin-top: 90px;
  margin-left: 260px;
  margin-right: 30px;
}
@media (max-width: 959px) {
  .wrapping{
    margin-left: 20px;
  }
}
@media screen and (max-width: 992px) {
  .hide{
   display: none;
  }
}
.login-form .form-group input{
  height: calc(1.5em + .75rem + 2px);
  border-radius: 10rem;
  padding: 1.5rem 1rem;
}
.btn-purple{
  background-color: #4e73df;
  border-color: #4e73df;
  color: #fff;
  border-radius: 10rem;
}
.btn-purple:hover{
  background-color: #2653d4;
  border-color: #2653d4;
  color: #fff;
}
.btn-dark-purple{
  background-color: #3b5998;
  border-color: #3b5998;
  color: #fff;
  border-radius: 10rem;
}
.btn-dark-purple:hover{
  background-color: #30497c;
  border-color: #30497c;
  color: #fff;
}
.login-form .btn-danger{
  border-radius: 10rem;
}